@{
    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";

    string urlLink ="";
    
    // Variabelen voor mail 
    var aantalL = 0;
    var totaalP = 0;




    if(IsPost){
        // Alles voor Validation
        Validation.For("Thema");
        Validation.RequireField("aantalP", "Vul het aantal personen in!");
        Validation.RequireField("decoratie", "Selecteer een decoratie!");
        Validation.RequireField("datum", "Geef de opleverdatum op!");
        Validation.RequireField("Aanhef", "Selecteer een Aanhef!");
        Validation.RequireField("naam", "Vul een naam in!");
        Validation.RequireField("tel", "Vul een telefoonnummer in!");
        Validation.RequireField("mail", "Vul een e-mailadres in!");
        Validation.RequireField("allergieen", "Selecteer een allergie!");
        Validation.RequireField("thema", "Selecteer een thema!");
        Validation.RequireField("selectList.name", "Selecteer een Cake soort");

        for(int i=1; i<5; i++){
            if(Request.Form["option1laag" + i] ==""){
                Validation.AddFormError("Selecteer een cake soort!");
            }

            if(Request.Form["option2laag"+i] ==""){
                Validation.AddFormError("Selecteer de bekleding!");
            }

            if(Request.Form["option3laag"+i] ==""){
                Validation.AddFormError("Selecteer een vulling!");
            }       
        }


        // Checkt aantal lagen
        for (int i =1; i<5; i++)
        {
            if (Request.Form["option1laag"+ i] != null)
            {
            aantalL++;
            }
        }

        // Haalt alle waarden uit de input 
         urlLink += "?aantalP=" + Request.Form["aantalP"];
         urlLink += "&thema=" + Request.Form["thema"];
         urlLink += "&aantalL=" + aantalL;
         
         for (int i =1; i<= aantalL; i++){
         
            urlLink += "&Cake" + i + "=" + Request.Form["option1laag" + i];
            urlLink += "&Bekleding" + i + "=" + Request.Form["option2laag" + i];
            urlLink += "&Vulling" + i + "=" + Request.Form["option3laag" + i];
         
         }
         
         urlLink += "&niveau=" + Request.Form["decoratie"];
         urlLink += "&allergie=" + Request.Form["allergieen"];
         urlLink += "&datum=" + Request.Form["datum"];
         urlLink += "&opmerking=" +  Request.Form["opmerkingen"];

         urlLink += "&aanhef=" + Request.Form["Aanhef"];
         urlLink += "&naam=" + Request.Form["naam"];
         urlLink += "&tel=" + Request.Form["tel"];
         urlLink += "&mail=" + Request.Form["mail"];
         urlLink += "&totaalP=" + totaalP;


         //Image uploaden

         photo = WebImage.GetImageFromRequest();
         if(photo != null){
            newFileName = Guid.NewGuid().ToString() + "_" +
            Path.GetFileName(photo.FileName);
            imagePath = @"images\" + newFileName;
            photo.Save(@"~\" + imagePath);
          
            Response.Redirect("http://jorbensaaltink.nl/confirm.php"+ urlLink);
         }

        
  
    }
    // Voor de Database
    var db = Database.Open("Fondanti");

    // Algemene variabelen
    int count = 0;
    int numb = 0;
    

    // Zodat boven nog tabel ziet met huidige wensen

    List<string> Thema = new List<string>();
    List<string> Vulling = new List<string>();
    List<string> Cake = new List<string>();
    List<string> Bekleding = new List<string>();
    List<string> Decoratie = new List<string>();
    
    List<string> Type = new List<string>(){"Thema", "Vulling", "Cake", "Bekleding", "Decoratie" };

    foreach(var x in Type){
        
        var selectProduct = "SELECT * FROM VOORRAAD  WHERE Type = @0";
        var rows = db.Query(selectProduct, x);
        
     // Toevoegen aan list voor het type

        if (x == "Thema"){
            foreach(var row in rows){
            Thema.Add(row.Product);
            }
        }
    
        // Voor vulling
        if (x == "Vulling"){
            Vulling.Add("");
            foreach(var row in rows){
                Vulling.Add(row.Product + " € " + row.Prijs); 
            }

        }
        // Voor Cake
        if (x == "Cake"){
            Cake.Add("");
            foreach(var row in rows){
                Cake.Add(row.Product + " € " + row.Prijs);    
            }
        }
        // Voor Bekleding
        if (x == "Bekleding"){
            Bekleding.Add("");
            foreach(var row in rows){
                Bekleding.Add(row.Product + " € " + row.Prijs);         
            }
        }
        // Voor Decoratie
        if (x == "Decoratie"){
            Decoratie.Add("");
            foreach(var row in rows){
                Decoratie.Add(row.Product + " € " + row.Prijs );  
            }
        }
    }

    
    // Om een nieuwe toe te voegen
   if (IsPost && Validation.IsValid()){

        string selectVolgorde = "SELECT ID FROM IMGURL WHERE Img = @0";
        var selectID = db.QueryValue(selectVolgorde, imagePath);

        if (selectID == null && imagePath.Length < 200){
         // Bestaat nog niet dus kan uitvoeren
            var insertCommand = "INSERT INTO IMGURL (Img) VALUES(@0)";
            db.Execute(insertCommand, imagePath);
            
        }
        else{ 
        Validation.AddFormError("Deze volgorde is al een keer gebruikt, voer een andere in.");  
        }
     }

    var SelectVulling = "SELECT Product, Type, Prijs FROM Voorraad WHERE Type = 'Vulling'";
    var SelecteerVulling = db.Query(SelectVulling);
    var VullingGrid = new WebGrid(source: SelecteerVulling, defaultSort: "Prijs");

    var SelectCake = "SELECT Product, Type, Prijs FROM Voorraad WHERE Type = 'Cake'";
    var SelecteerCake = db.Query(SelectCake);
    var CakeGrid = new WebGrid(source: SelecteerCake, defaultSort: "Prijs");

    var SelectBekleding = "SELECT Product, Type, Prijs FROM Voorraad WHERE Type = 'Bekleding'";
    var SelecteerBekleding = db.Query(SelectBekleding);
    var BekledingGrid = new WebGrid(source: SelecteerBekleding, defaultSort: "Prijs");

    var SelectDecoratie = "SELECT Product, Type, Prijs FROM Voorraad WHERE Type = 'Decoratie'";
    var SelecteerDecoratie = db.Query(SelectDecoratie);
    var DecoratieGrid = new WebGrid(source: SelecteerDecoratie, defaultSort: "Prijs");
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="trouwtaarten, trouwen, taart, kindertaart, cupcakes, feest, custom, mooi, handgemaakt, kwaliteit, lekker, heerlijk, fondanti, ijlst, friesland">
    <meta name="description" content="Fondanti maakt unieke taarten en cupcakes die er niet alleen fantastisch uit zien maar ook heerlijk smaken.">
    <meta id="myViewport" name="viewport" content="width=device-width, initial-scale=1">

    <title>Fondanti - Fabulous cakes</title>
    
    <link href="css/reset.css" rel="stylesheet" type="text/css" />
    <link href="css/fondanti.css" rel="stylesheet" type="text/css" />


    <script type="text/javascript" src="js/JScript.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    
    <style type="text/css">
        .grid { margin: 4px; border-collapse: collapse; width: 600px; }
        .grid th, .grid td { border: 1px solid #C0C0C0; padding: 5px; background-color: purple; color: white; }
        .head { background-color: #E8E8E8; font-weight: bold; color: #FFF; }
    </style> 
        <link href="~/FondantiStyle.css" rel="stylesheet" type="text/css" />   
</head>
<body>
    <div id="top-header">
        <div class="content-center">
            <div id="header-logo"><img src="img/fondanti-logo.png" alt="Fondanti logo"/></div>
            <div id="header-phone-number"><p><a href="order.cshtml"><img src="img/image.png" alt="Bestellen"></a><a href="http://www.facebook.com/fondanti"><img src="img/facebook_logo.png" alt="Fondanti on Facebook"/></a><a href="tel:+31616064485"><img src="img/white_phone.png" alt="white phone"/><span>0616064485</span></a></p></div>
        </div>
    </div>

    <div class="content-box" id="fondanti-content-box">
        <div class="main-background-image" id="fondanti-main-background"><img src="img/bg_verjaardag_taart_bep.jpg" alt="verjaardagstaart"/></div>
        <div class="content-center">
            <div class="text-box" id="fondanti-text">
                <h2>Fondanti</h2>
                <p class="bigger">Maak hier uw voorlopige bestelling, zo komt u direct in contact met Fondanti en heeft u meteen een idee wat het gaat kosten.</p>
                <p class="bigger">Wilt u voorbeelden zien? Klik dan <a href="https://www.facebook.com/fondanti/photos_albums">hier.</a></p>
            </div>
        </div>
    </div>

    <div class="content-box" id="wedding-cake-content-box">
        <div class="main-background-image" id="wedding-cake-main-background"><img src="img/bg_wedding_cake.jpg" alt="trouwtaart"/></div>
        <div class="content-center"><div class="adjustment">
                
    
        <br><br><br>
        <div id="Stap1">
                    
                    <h2>Fondanti Taart Bestellen</h2>

            <!--------- Taart voor display ----------->
            <div class="taartbox">
                <div class="middle">
                    <div id="taartDiv" style="width: 450px; text-align: center;  line-height: 0%">
                    </div>
                </div>
            </div>
            <div class="orderMainForm">
                <form action="" method="post" enctype="multipart/form-data">
                
                <p>
                    <label>Aantal personen:</label>
                    <input class="allignmentRight" id="aantalPersonenInput" name="aantalP" type="number" onchange="buttonCheck()">
                    @Html.ValidationMessage("aantalP")
                </p>
                    <p>
                    <label>Thema:</label>
<<<<<<< HEAD
                        <select name ="thema" id="thema" onchange="ThemaAnders(this.value)">
=======
                        <select class="allignmentRight" name ="thema" onchange="ThemaAnders(this.value)">
>>>>>>> 36f4e75dbbec0adf85327277dace54cad4d8e7e9
                            <option value=""></option>
                            @foreach(var x in Thema){
                                <option value="@x">@x</option>
                            }
                        </select> 
                    @Html.ValidationMessage("thema")
<<<<<<< HEAD
                    <input type="text" name="thema2" id="thema" style="display: none">
=======
                    <input type="text" name="thema" id="thema" style="display: none">
>>>>>>> 36f4e75dbbec0adf85327277dace54cad4d8e7e9

                    </p>



                    <div id="laag1">
                        <p>
                            <input type="button" id="laagButton1" class="laagButton" value="1 Laag" onclick="setLaag(1)">
                            <input type="button" id="laagButton2" class="laagButton" value="2 Lagen" onclick="setLaag(2)">
                            <input type="button" id="laagButton3" class="laagButton" value="3 Lagen" onclick="setLaag(3)">
                            <input type="button" id="laagButton4" class="laagButton" value="4 Lagen" onclick="setLaag(4)">
                            <input type="button" id="laagButton5" class="laagButton" value="5 Lagen" onclick="setLaag(5)">
                        </p>
                    </div>

            

                <p><label>Type Niveau decoratie:</label>
                    <select class="allignmentRight" name ="decoratie">
                    @foreach(var x in Decoratie){
                        <option value="@x">@x</option>
                    }
                    </select> 
                    @Html.ValidationMessage("decoratie") 
                </p>
                <p><label>Allergieen:</label>
<<<<<<< HEAD
                    <select name="allergieen" onchange="AllergieAnders(this.value)">
=======
                    <select class="allignmentRight" name ="allergieen" onchange="AllergieAnders(this.value)">
>>>>>>> 36f4e75dbbec0adf85327277dace54cad4d8e7e9
                    <option value=""></option>
                    <option value="Glutenvrij">Glutenvrij</option>
                    <option value="Geen">Geen</option>
                    <option value="Anders namelijk...">Anders namelijk...</option>  
                    </select> 
                    <input type="text" name="allergieen2" id="allergieen" style="display: none">
                    @Html.ValidationMessage("allergieen")
                </p>

                <p><label>Gewenste opleverdatum:</label>
                    <input class="allignmentRight" name="datum" type="date">
                    @Html.ValidationMessage("datum")
                </p>
                <p>
                    <label>Opmerkingen:</label></p><br>
            
                    <textarea class="allignmentRight" name="opmerkingen" rows="4" cols="50"></textarea>
                
            </div>
        </div>
        </div></div>
    </div>
    <div class="content-box" id="kids-cake-content-box">
        <div class="main-background-image" id="kids-cake-main-background"><img src="img/bg_kindertaart.jpg" alt="Princessen kindertaart"/></div>
        <div class="content-center">
            
        <div id="Stap2">
            <h2>Stap 2: Uw gegevens</h2>
           
            <p><label>Aanhef:</label>
               <select class="allignmentRight" name ="Aanhef" form="test">
               <option value=""></option>
               <option value="Dhr.">Dhr.</option>
               <option value="Mw">Mw.</option>
               </select> 
            @Html.ValidationMessage("Aanhef")
            </p>

            <p><label>Naam:</label>
               <input class="allignmentRight" name="naam" type="text"> 
                @Html.ValidationMessage("naam")
            </p>

            <p><label>Tel:</label>
               <input class="allignmentRight" name="tel" type="tel"> 
                @Html.ValidationMessage("tel")
            </p>

            <p><label>E-mailadres:</label>
               <input class="allignmentRight" type="email" name="mail"> 
                @Html.ValidationMessage("mail")
            </p>

            <p> 
            <input class="allignmentRight" type="number" class="hidden" value="0" name="aantalL" id="aantalL">

            <p><label>Inspiratieafbeelding uploaden:</label> 
                <input class="allignmentRight" type="file" name="Image" /></p>
                    <br/>
                <input type="submit" value="Bevestig informatieverzoek">
            </p>
        </div>
        
           
        </div>
    </div>
    </form>
    <div class="content-box" id="cupcakes-content-box">
        <div class="main-background-image" id="cupcakes-main-background"><img src="img/bg_cupcakes.jpg" alt="Boerderij cupcakes"/></div>
        <div class="content-center">
            <h2>Prijslijst (pp)</h2>
            
    <p>      @VullingGrid.GetHtml(
                                    tableStyle: "grid",
                                    headerStyle: "head",
                                    columns: VullingGrid.Columns(
                                                                    VullingGrid.Column("Product"),
                                                                    VullingGrid.Column("Type"),
                                                                    VullingGrid.Column("Prijs")
                                                                )
                                )  
   </p> 

   <p>        @CakeGrid.GetHtml(
                                    tableStyle: "grid",
                                    headerStyle: "head",
                                    columns: CakeGrid.Columns(
                                                                    CakeGrid.Column("Product"),
                                                                    CakeGrid.Column("Type"),
                                                                    CakeGrid.Column("Prijs")
                                                                )
                                ) 
    </p>    

   <p>        @BekledingGrid.GetHtml(
                                    tableStyle: "grid",
                                    headerStyle: "head",
                                    columns: BekledingGrid.Columns(
                                                                    BekledingGrid.Column("Product"),
                                                                    BekledingGrid.Column("Type"),
                                                                    BekledingGrid.Column("Prijs")
                                                                )
                                ) 
    </p>  

   <p>        @DecoratieGrid.GetHtml(
                                    tableStyle: "grid",
                                    headerStyle: "head",
                                    columns: DecoratieGrid.Columns(
                                                                    DecoratieGrid.Column("Product"),
                                                                    DecoratieGrid.Column("Type"),
                                                                    DecoratieGrid.Column("Prijs")
                                                                )
                                ) 
    </p>  
        </div>
    </div>
     <!-- Jaapascript -->
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/fondanti.js"></script>
	<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-39370485-1', 'auto');
      ga('send', 'pageview');
    
    </script>
 
    <script type="text/javascript">
 
        // Variabelen
        var currentLaag = 0;
        var aantalPersonen = 0;
        var aantalPersonenC = 0;
        var minLaag =0;
        var maxLaag =0;
 
        var laagDiv = document.getElementById("laag1");
 
        // Wanneer geen laag is kan je ook geen laag verwijderen
        function buttonCheck() {
 
            // zet aantal personen op 0
            aantalPersonenC = 0;
            minLaag =0;
            maxLaag =0;
            aantalPersonen = document.getElementById("aantalPersonenInput").value;
            document.getElementById("aantalPersonenInput").value = aantalPersonen;
 
            // zodat aantal personen niet in de min kan
            if (aantalPersonen < 0) {
                aantalPersonen = 0;
            }
 
            // Uitrekenen max aantal lagen
            aantalPersonenC = aantalPersonen ;    
 
            while (aantalPersonenC > 0){
                minLaag++;
                aantalPersonenC -= 25;   
 
            }
            
            // Uitrekenen min aantal lagen
            aantalPersonenC = aantalPersonen ;    
 
            while (aantalPersonenC > 0 && maxLaag <5){
                maxLaag++;
                aantalPersonenC -= 15;   
 
            }
 
            var element ="";
            var opslag = ["laagButton1", "laagButton2", "laagButton3", "laagButton4", "laagButton5"];
            
            
            // Alles maken wat onder minLaag zit
            
            for (var i =0; i<5; i++){
                element = document.getElementById(opslag[i]);
                element.style.display = 'none';
            }
 
            if (minLaag != 0){
            for (var i =minLaag; i <= maxLaag; i++){
            
                    element = document.getElementById(opslag[i-1]);
                    element.style.display = 'initial';
            
            }
            }
 
 
            while (((currentLaag - 1) * 15) > aantalPersonen) {
                removeLaag();
            }
 
            
        }
 
        //buttoncheck roepen zodat de buttons goed staan
        buttonCheck();
 
        // remove 1 laag
        function removeLaag() {
            //verwijdert de laatste laag
            var className = "elementsLaag" + currentLaag;
            var className2 = "elementsLaagform" + currentLaag
 
            var elements = document.getElementsByClassName(className);
            var elements2 = document.getElementsByClassName(className2);
            while (elements.length > 0) {
                elements[0].parentNode.removeChild(elements[0]);
            }
            while (elements2.length > 0) {
                elements2[0].parentNode.removeChild(elements2[0]);
            }
 
            if (currentLaag > 1) {
                currentLaag = currentLaag - 1;
            }
 
            // Refresh zodat taart kleiner word
            taartVoorbeeld();
 
            //doe een buttoncheck
            buttonCheck();
        }
 
        function taartVoorbeeld() {
            // haal alles uit de taartdiv
            document.getElementById("taartDiv").innerHTML = "";

            var percentages = ["100%", "90%", "80%", "75%", "65%"];

            //voeg alle lagen omgekeert toe zodat ze op elkaar stapelen
            for (var i = currentLaag; i > 0; i--) {
                var d = document.createElement("div");
                var taartDiv = document.getElementById("taartDiv");
                d.className = "elementsLaag";
                d.style.width = percentages[i - 1];
 
                taartDiv.appendChild(d);
 
                for (var j = 0; j < 3; j++) {
                    var p = document.createElement("p");
                    d.appendChild(p);
 
                    p.textContent = document.getElementById("option" + (j + 1) + "laag" + i).value;
                }
            }
        }
 
        // De variabel laag geeft aan hoeveel 
        function setLaag(laag) {
            var amount = currentLaag - laag;
            if (laag < currentLaag) {
                for (var i = 0; i < amount; i++) {
                    removeLaag();
                }
            }
 
            var amount = laag - currentLaag;
            if (laag > currentLaag) {
                for (var i = 0; i < (amount); i++) {
                    addLaag();
                }
            }
        }
 
        //voegt een laag toe
        function addLaag() {
            currentLaag = currentLaag + 1;
 
            //label
            if (currentLaag > 1) {
                var para = document.createElement("p");
                laagDiv.appendChild(para);
 
                var label = document.createElement("label");
                label.textContent = "Laag " + currentLaag + ":";
                label.className = "elementsLaagform" + currentLaag;
                para.appendChild(label);
            }
 
            //Cake 1
            var para = document.createElement("p");
            para.className = "elementsLaagform" + currentLaag;
            laagDiv.appendChild(para);
 
            var label = document.createElement("label");
            label.textContent = "Type cake laag " + currentLaag + ":";
            label.className = "elementsLaagform" + currentLaag;
            para.appendChild(label);
 
            var selectList = document.createElement("select");
            selectList.className = "allignmentRight";
            selectList.id = "option1laag" + currentLaag;
            selectList.name = "option1laag" + currentLaag;
            para.appendChild(selectList);
            selectList.setAttribute('onchange', 'taartVoorbeeld()');

            @foreach (var x in  Cake) {
                @:var option = document.createElement("option");
                @:option.value = '@x' ;
                @:option.text = '@x'; 
                @:option.id = "option1" + currentLaag;
                @:selectList.appendChild(option);
            }
            function Validate(){
            var objDDl = document.getElementById('selectList.id');
            if(objDDl.value == "")
            {
            alert("Please select cake");
            return false;
            }
            return true;
            }
 
            //Bekleding 2
            var para = document.createElement("p");
            para.className = "elementsLaagform" + currentLaag;
            laagDiv.appendChild(para);
 
            var label = document.createElement("label");
            label.textContent = "Type bekleding laag " + currentLaag + ":";
            label.className = "elementsLaagform" + currentLaag;
            para.appendChild(label);
 
            var selectList = document.createElement("select");
            selectList.className = "allignmentRight";
            selectList.id = "option2laag" + currentLaag;
            selectList.name = "option2laag" + currentLaag;
            para.appendChild(selectList);
            selectList.setAttribute('onchange', 'taartVoorbeeld()');
 
        
            @foreach (var x in  Bekleding) {
                @:var option = document.createElement("option");
                @:option.value = '@x' ;
                @:option.text = '@x';
                @:option.id = "option2" + currentLaag;
                @:selectList.appendChild(option);
            }
 
 
 
            //Vulling 3
            var para = document.createElement("p");
            para.className = "elementsLaagform" + currentLaag;
            laagDiv.appendChild(para);
 
            var label = document.createElement("label");
            label.textContent = "Type vulling laag " + currentLaag + ":";
            label.className = "elementsLaagform" + currentLaag;
            para.appendChild(label);
 
            var selectList = document.createElement("select");
            selectList.className = "allignmentRight";
            selectList.id = "option3laag" + currentLaag;
            selectList.name = "option3laag" + currentLaag;
            para.appendChild(selectList);
            selectList.setAttribute('onchange', 'taartVoorbeeld()');
 
            @foreach (var x in  Vulling) {
                @:var option = document.createElement("option");
                @:option.value = '@x' ;
                @:option.text = '@x';
                @:option.id = "option3" + currentLaag;
                @:selectList.appendChild(option);
            }
 
            //doe een buttoncheck
            buttonCheck();
 
            taartVoorbeeld();
        }
 
        addLaag();
 
        // voor het tevoorschijn komen van tekstbox bij optie anders namelijk..
 
        function ThemaAnders(Waarde) {
            var element = document.getElementById('thema');
            if (Waarde == 'Anders namelijk...') {
                element.style.display = 'initial';
            }
            else {
                element.style.display = 'none';
            }
        }
 
        function AllergieAnders(Waarde) {
            var element = document.getElementById('allergieen');
            if (Waarde == 'Anders namelijk...') {
                element.style.display = 'initial';
            }
            else {
                element.style.display = 'none';
            }
        }
</script>
</body>
</html>